@media (max-width: 992px) {
  .container {
    width: 95%; }
  * {
    font-size: 12px; }
  .product {
    display: none; }
  .custom_icons {
    float: right; }
  .caption {
    font-size: 1em; }
  .description {
    font-size: 1.2em; }
  .price {
    font-size: 2em; }
    .price .price_small {
      font-size: 0.5em; }
  .old_price {
    font-size: 1.5em; }
    .old_price .old_price_small {
      font-size: 0.5em; } }

@media (max-width: 780px) {
  * {
    font-size: 10px;}
   }

@media (max-width: 672px) {
  * {
    font-size: 8px; }
  .footer_icons {
    display: inline-block;
    width: 3%;
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 1em; }
    .footer_icons .icons_facebook {
      max-width: 100%;
      height: auto; } }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;
}

.active {
  display: block!important;
}

.menu{
  display: none;
  background-color: #ebad38;
}
.menu li{
  background-color: #ebad38;
  padding: 1em 0 1em 0;
  text-align: center;
}
.menu li a{
  text-decoration: none;
}
.menu li:hover a{
  color: white;
}
.menu li:hover{
  background-color: black;
  color: white;
}

@media (max-width: 560px) {
  * {
    font-size: 6px; } }

@media (max-width: 375px) {
  * {
    font-size: 5px; } }

@media (max-width: 1200px) {

  .main_text {
    font-size: 0.7em;
  }
}

@media (max-width: 900px) {

  .main_text {
    font-size: 0.5em;
  }

.main_small_text p {
  font-size: 1.6em;
}
}
@media (max-width: 650px) {
  .main_small_text p {
  font-size: 1.2em;
}
}

@media (max-width: 480px) {

  .caption {
    font-size: 0.6em;
  }

  .main_small_text p {
  font-size: 1em;
}
.dress_button {
  font-size: 5px;
}
}

@media (max-width: 350px) {

  .caption {
    font-size: 0.4em;
  }

  .main_small_text p {
  font-size: 0.8em;
}
.dress_button {
  font-size: 5px;
}
}

@media (max-width: 1000px) {
  .footer_info {
    font-size: 2px;
  }
}